@use "variables" as v;
@use "mixins" as mx;
/* Imagen de fondo para las CARDS */

.fondo-diamantes{
    @include mx.fondo-imagen("../assets/diamantes-negros.png");
}

.fondo-relojes-negros{
    @include mx.fondo-imagen("../assets/relojes-negros.png");
}

.fondo-relojes-dorados{
    background-image: url(../assets/relojes-dorados.png);
}

/* Estilos globales */

h1, h2,  h3{
    color: v.$text-rojo;
}

p{
    color: v.$color-p;
}

/*bordes*/

.borde-primario {
    border: 1px solid v.$color-borde;
  }