@use "../base/variables" as v;
@use "../base/mixins" as mx;

/* tipografias */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
  background-color: v.$background-color-dark;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

/* fondos personalizados */

.fondo-diamantes{
    @include mx.fondo-imagen("../assets/diamantes-negros");
}

.fondo-relojes-negros{
    @include mx.fondo-imagen("../assets/relojes-negros.png");
}

.fondo-relojes-dorados{
    @include mx.fondo-imagen("../assets/relojes-dorados.png");
    background-position: 0% 0%;
}

/*  colores de textos */

h1, h2,  h3{
    color: v.$text-rojo;
}

p{
    color: v.$color-p;
}

.form-label{
    color: v.$text-rojo;
}

/* Bordes y efectos */

.borde-primario {
    border: 1px solid v.$color-borde;
    border-radius: 0.5rem;
}

.list-group-item {
  margin-bottom: 6px;
  background-color: transparent;
  text-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra gris suave */
}
