/* Imagen de fondo del HEADER */
.titulo-fondo {
    background-image: url("../assets/relojes.jpg"); /* Tu imagen de fondo */
    background-repeat: repeat;
    padding: 20px;
    text-shadow: 8px 5px 4px #000000;
}

/* Estilo del logo */
.logo-img {
    width: 200px;
}
