@use "../base/variables" as v;
@use "../base/mixins" as m;

@keyframes fade-in-left{
  from{
    opacity: 0;
    transform: translateX(-30px);
  }
  to{
    opacity: 1;
    transform: none;
  }
}

.fade-in-left {
  opacity: 1;
  animation: fade-in-left 1s ease-in-out;
}

@keyframes fade-in-right{
  from{
    opacity: 0;
    transform: translateX(30px);
  }
  to{
    opacity: 1;
    transform: none;
  }
}

.fade-in-right {
  opacity: 1;
  animation: fade-in-right 1s ease-in-out;
}

@keyframes fade-in-up{
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: none;
  }
}

.fade-in-up {
  opacity: 1;
  animation: fade-in-up 1s ease-in-out;
}

@keyframes fade-in-down{
  from{
    opacity: 0;
    transform: translateY(-30px);
  }
  to{
    opacity: 1;
    transform: none;
  }
}

.fade-in-down {
  opacity: 1;
  animation: fade-in-down 1s ease-in-out;
}
